<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.springbootadmin.dao.IAccountMDao" >
    <sql id="field">
        id,user_code,user_name,password,telphone
    </sql>

    <sql id="fieldAs">
        id as id,
        user_code as userCode,
        user_name as userName,
        password as password,
        telphone as telphone
    </sql>

    <sql id="property">
        #{id,jdbcType=INTEGER},
        #{userCode,jdbcType=VARCHAR},
        #{userName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{telphone,jdbcType=VARCHAR}
    </sql>

    <insert id="insert" parameterType="com.my.springbootadmin.model.Account">
        INSERT INTO ACCOUNT(<include refid="field" />) VALUES (<include refid="property" />)
    </insert>

    <select id="findAll" resultType="com.my.springbootadmin.model.Account">
        SELECT
            <include refid="fieldAs" />
        FROM ACCOUNT
    </select>
</mapper>